body{
    background-color: rgb(170, 145, 145);
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(122, 97, 65);
    color: rgb(48, 15, 2);
    align-items: center;
    padding: 20px;
}
.nav a
{
color: rgb(58, 9, 9);
margin-left: 30px;
text-decoration: underline;
}
.nav a:hover{
    color: cadetblue;
}
.sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 40px;

}
.sec p{
    width: 50%;
    font-size: 18px;
    color: rgb(104, 67, 42);
}
.sec img{
 width: 280px;
 border-radius: 15px;
 object-fit: cover;
}
.skills
{
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}
.skills-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.skill{
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    background-color: burlywood;
}
.Projects{
    display: grid;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
    margin : auto
}

.Projects .p1{
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    background-color: burlywood;
}